<!DOCTYPE html > <!-- xml syntax, nu html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<!-- <p th:unless="${events} and ${events.size()}">No events!</p> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact email</th>
            <th>Event type</th>
        </tr>
    </thead>
    <tr th:each = "event : ${events}">
        <td th:text = "${event.id}"></td>
        <td th:text = "${event.name}"></td>
        <td th:text = "${event.description}"></td>
        <td th:text = "${event.contactEmail}"></td>
        <td th:text = "${event.type.displayName}"></td> <!-- type.displayName ca sa imi arate in tabel versiunea care nu ii toata in caps-->
    </tr>

</table>


</body>
</html>