<!DOCTYPE html > <!-- xml syntax, nu html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <ul> <!-- for loop in thymeleaf -->
        <th:block th:each = "name : ${names}">
            <li th:text = "${name}"> </li>
        </th:block> <!-- for each 'name' (iteration variable) in a list called 'names' (cu {} inseamna ca ii passed din alta parte), do the syntax btw this block tag -->
    </ul>
</body>
</html>